# Pasta de dependências do Node (Vite)
dist/
node_modules/
# Arquivos do Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Banco de dados SQLite (Importante para não travar o Git)
*.db
*.sqlite3

# Arquivos de sistema e ambiente
.env
.DS_Store
Thumbs.db

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
