.PaginaFinancas {
    min-height: 100vh;
    background-color: #1C1717;
}

.Header {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}

.ItensHeader {
    display: flex;
    justify-content: space-between;
    color: white;
    flex-direction: row;
    list-style: none;
    font-size: larger;
    gap: 24px;
    margin-left: 5%;
}

.logo {
    width: 150px;
    height: 150px;
}

/* .Conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
} */

/* .Grafico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} */